<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>324751707646-t8rctujalnmdhrr06318bg0onitave02.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.324751707646-t8rctujalnmdhrr06318bg0onitave02</string>
	<key>API_KEY</key>
	<string>AIzaSyDTiRTyv-JcrtFL8P5vKy2rqn5kYlT9Eno</string>
	<key>GCM_SENDER_ID</key>
	<string>324751707646</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.Nonoka.Swift5FacebookLoginWithFirebase</string>
	<key>PROJECT_ID</key>
	<string>facebookloginwithfirebas-af664</string>
	<key>STORAGE_BUCKET</key>
	<string>facebookloginwithfirebas-af664.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:324751707646:ios:4d2864f47677d0dbf8c4af</string>
	<key>DATABASE_URL</key>
	<string>https://facebookloginwithfirebas-af664.firebaseio.com</string>
</dict>
</plist>